Django>=5.0
djangorestframework
djangorestframework-simplejwt[blacklist]
django-environ
django-cors-headers
strawberry-graphql
strawberry-graphql-django
channels
channels-redis
celery
redis
psycopg[binary]
twilio
gunicorn
uvicorn[standard]
celery[redis]
strawberry-graphql
